<a href="https://colab.research.google.com/github/ketul-kothari/Open_AI_training_hackathon/blob/main/hackathon_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.26.4)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('./Salary_Data.csv')

In [ ]:
df.tail()
df.count()

Age                    6702
Gender                 6702
Education Level        6701
Job Title              6702
Years of Experience    6701
Salary                 6699
dtype: int64

In [ ]:
df.describe()

df.dropna(axis=0, how='any', inplace=True)
df.count()

Age                    6698
Gender                 6698
Education Level        6698
Job Title              6698
Years of Experience    6698
Salary                 6698
dtype: int64

In [ ]:
df['Gender'] = df['Gender'].apply(lambda gender: 1 if gender == 'Male' else 0)

In [ ]:
edu = {}
for i,v in enumerate(df['Education Level'].unique()):
  if v not in edu:
    edu[v] = i



job = {}
for i,v in enumerate(df['Job Title'].unique()):
  if v not in job:
    job[v] = i

edu

{"Bachelor's": 0,
 "Master's": 1,
 'PhD': 2,
 "Bachelor's Degree": 3,
 "Master's Degree": 4,
 'High School': 5,
 'phD': 6}

In [ ]:
df['Education Level'] = df['Education Level'].apply(lambda x: edu[x])
df['Job Title'] = df['Job Title'].apply(lambda x: job[x])

In [ ]:
df.head()

    Age  Gender  Education Level  Job Title  Years of Experience    Salary
0  32.0       1                0          0                  5.0   90000.0
1  28.0       0                1          1                  3.0   65000.0
2  45.0       1                2          2                 15.0  150000.0
3  36.0       0                0          3                  7.0   60000.0
4  52.0       1                1          4                 20.0  200000.0

In [ ]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (1.5.2)
Requirement already satisfied: numpy>=1.19.5 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (3.5.0)

In [ ]:
Y = df.pop('Salary')

In [ ]:

X = df

X

       Age  Gender  Education Level  Job Title  Years of Experience
0     32.0       1                0          0                  5.0
1     28.0       0                1          1                  3.0
2     45.0       1                2          2                 15.0
3     36.0       0                0          3                  7.0
4     52.0       1                1          4                 20.0
...    ...     ...              ...        ...                  ...
6699  49.0       0                2         46                 20.0
6700  32.0       1                5          3                  3.0
6701  30.0       0                3         24                  4.0
6702  46.0       1                4         16                 14.0
6703  26.0       0                5         38                  1.0

[6698 rows x 5 columns]

In [ ]:
import sklearn

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=1/5, random_state=42)

In [ ]:
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC, LinearSVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression

In [ ]:
import lightgbm as lgb

In [ ]:
models = {
    'naive_bayes' : GaussianNB(),
    'knn' : KNeighborsClassifier(),
    'svc' : SVC(),
    'linear_svc' : LinearSVC(),
    'decision_tree' : DecisionTreeClassifier(max_depth=10),
    'logistic_regression' : LogisticRegression(),


}

models1 = {
        'linear_regression': LinearRegression(),
        'light_gbm' : lgb.LGBMRegressor()
}

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

y_pred = regressor.predict(X_test)
regressor.score(X_test,y_test)

0.7205007630303619

In [ ]:

regressor = lgb.LGBMRegressor()
regressor.fit(X_train, y_train)

y_pred = regressor.predict(X_test)
regressor.score(X_test,y_test)

[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000556 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 187
[LightGBM] [Info] Number of data points in the train set: 5358, number of used features: 5
[LightGBM] [Info] Start training from score 115485.334267

0.9734966154537025

In [ ]:

max_accuracy = 0
best_model_name = None
best_model = None
for model_name, model in models.items():
  model.fit(X_train, y_train)
  p = model.predict(X_test)
  print(model_name, accuracy_score(y_test, p))
  print('****')
  if accuracy_score(y_test, p) > max_accuracy:
    max_accuracy = accuracy_score(y_test, p)
    best_model_name = model_name
    best_model = model


for model_name, model in models1.items():
  model.fit(X_train, y_train)
  p = model.predict(X_test)
  print(model_name, model.score(X_test, y_test))
  print('****')
  if model.score(X_test, y_test) > max_accuracy:
    max_accuracy = model.score(X_test, y_test)
    best_model_name = model_name
    best_model = model

naive_bayes 0.21044776119402986
****
knn 0.7044776119402985
****
svc 0.12835820895522387
****
linear_svc 0.1664179104477612
****
decision_tree 0.6156716417910447
****

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

logistic_regression 0.14477611940298507
****
linear_regression 0.7205007630303619
****
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000525 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 187
[LightGBM] [Info] Number of data points in the train set: 5358, number of used features: 5
[LightGBM] [Info] Start training from score 115485.334267
light_gbm 0.9734966154537025
****

In [ ]:
best_model_name

'light_gbm'